@model DreamHoliday.Models.Bien

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Bien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idMembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idMembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarifParNuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifParNuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarifNettoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifNettoyage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noteMoyenne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noteMoyenne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbPersonnesMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbPersonnesMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salleDeBain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salleDeBain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salleAManger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salleAManger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toilette)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toilette)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chambre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chambre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dressing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dressing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veranda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veranda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bbq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bbq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piscine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piscine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jacuzzi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jacuzzi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sauna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sauna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teleDistribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teleDistribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pingpong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pingpong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tennis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuisineEquipee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuisineEquipee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.machineALaver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machineALaver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jardin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jardin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
