@model IEnumerable<DreamHoliday.Models.Membre>

@{
    ViewBag.Title = "allMembres";
}

<h2>allMembres</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMembre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estProprietaire)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDeNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                <img src="~/Img/Membres/photo@(item.idMembre).jpg" height="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estProprietaire)
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
